<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ch.epfl.hci.healthytogether"
    android:versionCode="71"
    android:versionName="3.7.7">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_chat" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/slight_green" />

        <!-- ASMA START -->
        <activity
            android:name=".MainActivityCommunity"
            android:label="@string/main_activity_community"
            android:launchMode="singleTop"
            android:parentActivityName=".Main2Activity"
            android:theme="@android:style/Theme.NoTitleBar">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.hci.healthytogethers.Main2Activity" />
        </activity>
        <!-- ASMA END -->

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.hci.healthytogether.MainActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.hci.healthytogether.MainActivity" />
        </activity>
        <activity
            android:name=".IntroActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.hci.healthytogether.LoginActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/menu_settings"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.hci.healthytogether.LoginActivity" />
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_log_history"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.hci.healthytogether.Main2Activity" />
        </activity>
        <activity
            android:name=".ExerciseTabHost"
            android:label="Select Activity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ExerciseCategory"
            android:label="Exercises" />
        <activity
            android:name=".SedentaryCategory"
            android:label="Sedentary" />
        <activity
            android:name=".BadgesActivity"
            android:label="Earned Badges"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.hci.healthytogether.Main2Activity" />
        </activity>
        <activity
            android:name=".SelectCheerTemplateActivity"
            android:label="@string/title_activity_select_cheer_template"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.hci.healthytogether.Main2Activity" />
        </activity>
        <activity
            android:name=".ComposeMessageActivity"
            android:label="@string/title_activity_compose_message"
            android:parentActivityName=".SelectCheerTemplateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.hci.healthytogether.SelectCheerTemplateActivity" />
        </activity>

        <!-- android:label="@string/app_name" -->
        <activity
            android:name=".InviteBuddyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_invite_buddy"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.hci.healthytogether.Main2Activity" /> <!-- Why was it MainActivity before?? -->
        </activity>

        <!--
     		    <intent-filter>
		        <action android:name="android.intent.action.SEARCH" />
		        <category android:name="android.intent.category.DEFAULT" />
		    </intent-filter>            
			<meta-data android:name="android.app.default_searchable"
        		android:value="ch.epfl.hci.healthytogether.InviteBuddyActivity" 
        		 android:resource="@xml/searchable"/>	        
        
	    <activity 	android:name="ch.epfl.hci.healthytogether.SearchableActivity" 
				    android:configChanges="orientation|keyboardHidden" 
				    android:label="@string/app_name"
				    android:launchMode="singleTask">
				    <intent-filter>
				        <action android:name="android.intent.action.SEARCH" />
				        <category android:name="android.intent.category.DEFAULT" />
				    </intent-filter>
				    <meta-data 
				        android:name="android.app.searchable"
				        android:resource="@xml/searchable" />
		            <meta-data
		                android:name="android.support.PARENT_ACTIVITY"
		                android:value="ch.epfl.hci.healthytogether.InviteBuddyActivity" />				    
	    </activity>    
	    
		<provider android:name="ch.epfl.hci.healthytogether.service.SearchSuggestionsProvider"
		    android:authorities="ch.epfl.hci.healthytogether.service.SearchSuggestionsProvider">
		    
		</provider>
		<meta-data android:name="android.app.default_searchable"
		    android:value="ch.epfl.hci.healthytogether.SearchableActivity" />
        -->

        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".IntroActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.hci.healthytogether.IntroActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="myappscheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MessagesActivity"
            android:label="@string/title_activity_select_cheer_template"
            android:parentActivityName=".Main2Activity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.hci.healthytogether.Main2Activity" />
            <intent-filter>
                <action android:name="MESSAGES_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuthenticateFitbitActivity"
            android:label="@string/title_activity_authenticate_fitbit"
            android:parentActivityName=".RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.hci.healthytogether.RegisterActivity" />
        </activity>
        <activity
            android:name=".AcceptBuddyActivity"
            android:label="@string/title_activity_accept_buddy"
            android:parentActivityName=".IntroActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.hci.healthytogether.IntroActivity" />
        </activity>

        <service android:name=".firebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".service.CheckForMessageBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.CheckForMessageAlarmReceiver" />

        <service android:name=".service.CheckForMessageService" />

        <service
            android:name=".service.MyFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!--
        <receiver android:name="ch.epfl.hci.healthytogether.service.CheckForLogBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="ch.epfl.hci.healthytogether.service.CheckForLogAlarmReceiver" >
        </receiver>

        <service android:name="ch.epfl.hci.healthytogether.service.CheckForLogService" >
        </service>
        -->

        <activity
            android:name=".PendingBuddyRequestActivity"
            android:label="@string/title_activity_pending_buddy_request"
            android:parentActivityName=".IntroActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.hci.healthytogether.IntroActivity" />
        </activity>

        <service
            android:name=".service.CustomTabsKeepAliveService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>